<div class="container-fluid">
  <div class="header">All Houses</div>

  <div>
    <form #searchGOTform = "ngForm" (ngSubmit) = "searchHouse()">
        Book name to be searched: <input type="text" name="houseName" class = "me1"
                    [(ngModel)] = "houseName" #houseName1 = "ngModel" onkeyup="lettersOnly(this)"><br>
        <button type="submit" > Search the Book </button>
    </form>
</div>

  <div class="row" *ngIf = "allHouse.length > 0">
      <div *ngFor = "let house of allHouse" class="col-md-4">
          <div class="card card-primary houseDesign">
              <div class="card-header">Title: </div>
              <div class="card-block">
               {{house.name}}
               <!--{{book}}-->
              </div>
              <div class="card-footer"> 
                  Blog modified on: 
                  <a [routerLink]="['/houseDetails',house.url]" class = "btn btn-primary">Read</a> 
              </div>
          </div>
      </div>
  </div>

  <div>
    <a [routerLink]="['/houses']" class="btn btn-primary" (click) = "housePrevPageCounter()">previous</a>
    <a [routerLink]="['/houses']" class="btn btn-primary" (click) = "houseNextPageCounter()">next</a>
    <form #createGOTform = "ngForm" (ngSubmit) = "navigateToPage()" >
        Book page number[1 to {{maxPage}}]: <input type="number" name="housePageNumber" class = "me"
                    [(ngModel)] = "housePageNumber" #huousepageNumber1 = "ngModel" onkeyup="digitsOnly(this)"><br>
        <button type="submit" class = "btnid"> Submit </button>
    </form>
</div>

</div>
