<div class="container-fluid">
    <div class = "loader" *ngIf="showLoader"> </div>
    <h2 class="header">Specific House Details</h2>

  <div class="row" >
      <div class="col-md-10">
          <div class="card card-primary houseDesign">
              <div class="card-header">Details of the House: - <span class = "fontDesign">
                  {{myHouse.name}} </span> </div>
              <div class="card-block">
                  URL of the house:  <span class = "fontDesign">{{myHouse.url}}</span> <br>
                  Name of the house:  <span class = "fontDesign">{{myHouse.name}}</span> <br>
                  Region of the house:  <span class = "fontDesign">{{myHouse.region}}</span> <br>
                  Coat of arms of the house:  <span class = "fontDesign">{{myHouse.coatOfArms}}</span> <br>
                  Words of house:  <span class = "fontDesign">{{myHouse.words}}</span> <br>

                  Titles of the house:  <span class = "fontDesign" 
                  *ngFor = "let title of myHouse.titles; let first = first; let last = last" >
                      {{title}} {{last ? '' : ','}}</span> <br>
                  Seats of the house:  <span class = "fontDesign" 
                  *ngFor = "let seat of myHouse.seats" >
                      {{seat}} {{last ? '' : ','}}</span> <br>

                  Current Lord of the house:  <span class = "fontDesign">{{myHouse.currentLord}}</span> <br>
                  Heir of the house:  <span class = "fontDesign">{{myHouse.heir}}</span> <br>
                  Overlord of the house:  <span class = "fontDesign">{{myHouse.overlord}}</span> <br>
                  Founded of the house:  <span class = "fontDesign">{{myHouse.founded}}</span> <br>
                  Founder of the house:  <span class = "fontDesign">{{myHouse.founder}}</span> <br>
                  DiedOut of the house:  <span class = "fontDesign">{{myHouse.diedOut}}</span> <br>

                  Ancestral Weapon of the house:  <span class = "fontDesign"  
                  *ngFor = "let weapon of myHouse.ancestralWeapons; let first = first; let last = last" >
                      {{weapon}} {{last ? '' : ','}}</span> <br>
                  Cadet Branches of the house:  <span class = "fontDesign"  
                  *ngFor = "let cadet of myHouse.cadetBranches; let first = first; let last = last" >
                      {{cadet}} {{last ? '' : ','}}</span> <br>
                  Sworn Members of the house:  <span class = "fontDesign"  
                  *ngFor = "let member of myHouse.swornMembers; let first = first; let last = last" >
                      {{member}} {{last ? '' : ','}}</span> <br>
              </div>
              <div class="card-footer"> 
                    <button (click) = "goBackToPrevPage()" class = "btn btn-primary">Click to navigate to list of Houses</button>  
              </div>
          </div>
      </div>
  </div>

</div>
