<div class="container-fluid">
    <h2 class="header">All Books</h2>

    <div>
        <form #searchGOTform = "ngForm" (ngSubmit) = "searchBook()" >
            Book name to be searched: <input type="text" name="bookName"
            [(ngModel)] = "bookName" #bookName1 = "ngModel"><br>
            <button type="submit" class = "btn btn-primary"> Search the Book </button>
        </form>
    </div>

    <div class = "loader" *ngIf="showLoader"> </div>
    

    <div class="row" *ngIf="allBook.length > 0">
        <div *ngFor="let book of allBook" class="col-md-4">
            <div class="card card-primary bookDesign">
                <div class="card-header">Name of the book </div>
                <div class="card-block">
                    {{book.name}}
                </div>
                <div class="card-footer">
                    To see the details please click on button: 
                    <a [routerLink]="['/bookDetails',book.url]" class="btn btn-primary">Read</a>
                </div>
            </div>
        </div>
    </div> <br>

    <div>
        <a [routerLink]="['/books']" class="btn btn-primary" (click) = "bookPrevPageCounter()">previous</a>
        &nbsp;
        <a [routerLink]="['/books']" class="btn btn-primary" (click) = "bookNextPageCounter()">next</a>
        <form #createGOTform = "ngForm" (ngSubmit) = "navigateToPage()" >
            Book page number[1 to {{maxPage}}]: <input type="number" name="bookPageNumber"
                        [(ngModel)] = "bookPageNumber" #pageNumber = "ngModel"><br>
            <button type="submit" class = "btnid btn btn-primary"> Submit </button>
        </form>
    </div>

</div>