<div class="container-fluid">
  <div class="header">All Characters</div>

  <div>
    <form #searchGOTform = "ngForm" (ngSubmit) = "searchBook()">
        Book name to be searched: <input type="text" name="characterName" class = "me1"
                    [(ngModel)] = "characterName" #characterName1 = "ngModel" onkeyup="lettersOnly(this)"><br>
        <button type="submit" > Search the Book </button>
    </form>
</div>

  <div class="row" *ngIf = "allCharacters.length > 0">
      <div *ngFor = "let character of allCharacters" class="col-md-4">
          <div class="card card-primary">
              <div class="card-header">Title: </div>
              <div class="card-block">
               {{character.name}}
               <!--{{book}}-->
              </div>
              <div class="card-footer"> 
                  Blog modified on: 
                  <a [routerLink]="['/bookDetails',character.url]" class = "btn btn-primary">Read</a> 
              </div>
          </div>
      </div>
  </div>

  <div>
    <a [routerLink]="['/books']" class="btn btn-primary" (click) = "bookPrevPageCounter()">previous</a>
    <a [routerLink]="['/books']" class="btn btn-primary" (click) = "bookNextPageCounter()">next</a>
    <form #createGOTform = "ngForm" (ngSubmit) = "navigateToPage()" >
        Book page number[1 to {{maxPage}}]: <input type="number" name="characterPageNumber" class = "me"
                    [(ngModel)] = "characterPageNumber" #characterPageNumber1 = "ngModel" onkeyup="digitsOnly(this)"><br>
        <button type="submit" class = "btnid"> Submit </button>
    </form>
</div>

</div>
