<div class="container-fluid">
  <div class="header">specific Book</div>

  <div class="row" >
      <div class="col-md-10">
          <div class="card card-primary bookDesign">
              <div class="card-header">Book Details of the book: - {{myBook.name}} </div>
              <div class="card-block">
               Url for the book: <span class = "fontDesign">{{myBook.url}}</span> <br>
               Name of the book: <span class = "fontDesign">{{myBook.name}}</span><br>
               ISBN number of the book: <span class = "fontDesign">{{myBook.isbn}}</span> <br>
               <div *ngFor = "let author of myBook.authors" >
                    Author of the book: <span class = "fontDesign">{{author}}</span>
               </div>
               Number of pages in book: <span class = "fontDesign">{{myBook.numberOfPages}}</span><br>
               Publisher of book: <span class = "fontDesign">{{myBook.publisher}}</span><br>
               Book published in country: <span class = "fontDesign">{{myBook.country}}</span><br>
               Media type available for book: <span class = "fontDesign">{{myBook.mediaType}}</span><br>
               Released date of the book: <span class = "fontDesign">{{myBook.released}}</span><br>

              </div>
              <div class="card-footer"> 
                  
              </div>
          </div>
      </div>
  </div>

</div>
